* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background: #212121;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.error-container {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45%;
}
